# PostgreSQL
#DB_TYPE=postgresql
#DB_HOST=172.32.148.154
#DB_PORT=5432
#DB_USERNAME=app
#DB_PASSWORD=Post123
#DB_DATABASE=pagila
#DB_SCHEMA=public           # PostgreSQL 通常需要指定 schema
#DB_EXTRA_JDBC=

# MySQL
#DB_TYPE=mysql
#DB_HOST=172.32.148.108
#DB_PORT=3316
#DB_USERNAME=root
#DB_PASSWORD=chatbi@123
#DB_DATABASE=ycbhsjjyszy         
#DB_EXTRA_JDBC=

# Oracle
DB_TYPE=oracle
DB_HOST=172.32.148.108
DB_PORT=1521
DB_USERNAME=paastest
DB_PASSWORD=Paas101511
DB_DATABASE=orcl12c
DB_ORACLE_MODE=sid
DB_SCHEMA=paastest


# LLM 配置
OPENAI_API_KEY=<your-api-key>
OPENAI_BASE_URL=https://api.deepseek.com
OPENAI_MODEL_NAME=deepseek-v4-flash
